.topleftnav {
    text-align: left;
    flex-basis : 50%;
  }

  .topRightnav {
        text-align: right;
        flex-basis : 50%;
      } 
      .inlineFlexContainer { 
   
        margin: 6px 0px;
        display: flex;
      }